@model AKQATask.Models.TaskModel
@{
    ViewBag.Title = "AKQA Test - Index";
}

<fieldset>
    <legend>Required fields for test</legend>
    <div>
        @Html.LabelFor(model => model.Name)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Value)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Value)
    </div>
    <div> &nbsp;</div>
    <div>
        
        <input type="submit" id="btnGetResult" value="Get Result" />
    </div>
</fieldset>
<br />
<fieldset>
    <legend>Result is:</legend>
    <div id="viewB">

    </div>
</fieldset>
